name: urlwatch-test

on:
  push:
    branches:
      - filter_test
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-20.04
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Setup timezone
        uses: zcong1993/setup-timezone@v2.0.0
        with:
          timezone: Europe/Berlin
      - uses: actions/checkout@v3
      - name: Configure AWS credentials for SES_Github_Monitoring
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          role-to-assume: arn:aws:iam::921405131417:role/SES_Github_Monitoring
          aws-region: eu-central-1
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install pyOpenSSL html2text urlwatch
          sudo apt-get -y install jq
      - name: Set secret aws
        run: |
          sed -i "s/aws_ses_password/${{ secrets.AWS_SES_PASSWORD }}/" urlwatch.yaml
      - name: Set secret cockpit
        run: |
          sed -i "s/cockpit_token/${{ secrets.COCKPIT_TOKEN }}/" urls_test.yaml
      - name: Run urlwatch
        run: |
          urlwatch --config=urlwatch.yaml --urls=urls_test.yaml --test-filter 5
